{
    "presets": ["latest", "react"],
    "plugins": [
        "transform-object-rest-spread",
        ["babel-root-import", [{
          "rootPathPrefix": "~",
          "rootPathSuffix": "src"
        }]]
    ]
}
