@import (inline)'normalize.css';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@import "breakpoints.less";
@import "colors.less";

@import "components/ninno-grid.less";
@import "components/ninno-nav.less";
@import "components/ninno-fnr-list.less";
@import "components/ninno-date-picker.less";
@import "components/ninno-validator.less";
@import "components/ninno-old-browser.less";

body, html {
    background-color: @foggy-grey;
    font-size: 16px;
}

.ninno-container {
    color: @eggplant;
    font-family: 'Source Sans Pro', sans-serif;
}

.ninno-header {
    margin-bottom: 40px;
}

* {
    box-sizing: border-box;
}
